anyio==3.6.1
asgiref==3.5.0
click==8.1.2
colorama==0.4.4
Django==4.0.3
djangorestframework==3.13.1
fastapi==0.78.0
Flask==2.1.1
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pydantic==1.9.1
pytz==2022.1
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.19.1
typing_extensions==4.2.0
tzdata==2022.1
Werkzeug==2.1.1
